.freshfinds {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-top: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
}

.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.freshfinds__title {
    margin-top: 10px;
    font-size: x-large;
    margin-left: 10px;
    font-weight: 600;
}