.home {
    margin-top: 15px;
    max-width: 1285px;
    min-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.ad__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad__image {
    object-fit: contain;
    height: 90px;
}

.ad__row {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}