.header {
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 0;
    align-items: center;
    position: sticky;
}

.header__topNav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 38px;
    background-color: rgb(44,44,45);
    overflow: hidden;
    align-items: center;
    max-width: 1285px;
    min-width: 1200px;
}

.header__topNavContainer {
    display: flex;
    background-color: rgb(44,44,45);
    height: 38px;
    align-items: center;
    width: 100%;
}

.logo__container {
    display: flex;
}

.logoWhite {
    object-fit: contain;
    height: 26px;
}

.line {
    display: flex;
    color: rgb(87,88,90);
    margin-left: 16px;
}

.categories {
    display: flex;
}

.category__item {
    padding:20px;
    font-size: small;
    color: white;
}

.category__item:hover {
    padding:20px;
    font-size: small;
    color: white;
    background-color: rgba(192,192,192, 0.1);
    text-emphasis: none;

}

.link {
    text-decoration: none;
}

.topNav__right {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
}

.right__item {
    color: white;
    font-weight: 600;
    padding: 20px;
    font-size: small;
}

.header__bottomNav {
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    max-width: 1285px;
    min-width: 1200px;
}

.header__bottomNavContainer {
    height: 65px;
    width: 100%;
    align-items: center;
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    background-color: white;
}

.logoRed {
    object-fit: contain;
    height: 37px;
}



.sellButton {
    margin-left: auto;
    background-color: #FF2636;
    color: white;
    font-weight: 900;
    border-radius: 3px;
    height: 33px;
    width: 70px;
    border: 1px solid #FF2636;
    text-decoration: none;

}

.dropdown__title {
    font-weight: 500;
    font-size: small;
}

.dropdown {
    position: absolute;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    top: 38px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0 0px 100px -6px black;
}

.dropdown__container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    background-color: white;
}

.option {
    font-size: small;
}

.dropdown__icon {
    position: relative;
    object-fit: contain;
    height: 30px;
    right:130px ;
    top: 25px;
}
